body{
    padding-bottom: 50vh;
}

input, textarea, select{
    display: block;
    margin-bottom: 30px;
}

textarea{
    width: 50%;
    height: 200px;
    resize: none;
}

output{
    color: orange;
    font-size: 1.5em;
}